<!DOCTYPE html>
<html lang="en" ng-app="swabhav">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="angular.js"></script>
    <title>Binding</title>
  </head>

  <body>
    <section ng-controller="bindingController">

      <div style="border:2px solid red; padding:10px">
        <h1>1 Way</h1>
        <h2>Just print data already configured in controller</h2>
        <h1>{{ emp.id }}</h1>
        <h1>{{ emp.name }}</h1>
        <h1>{{ emp.salary }}</h1>
        
      </div>

      <div style="border:2px solid green; padding:10px">
        <h1>2 Way</h1>
        <h2>Keeps Model & View in sync with each other</h2>
        <p>ID : <input type="text" ng-model="emp.id" /></p>
        <p>Name : <input type="text" ng-model="emp.name" /></p>
        <p>Salary : <input type="text" ng-model="emp.salary" /></p>
      </div>

      <div style="border:2px solid blue; padding:10px">
        <h1>1 Time</h1>
        <h2>Data never changes, as it is read-only</h2>
        <p>{{::emp.id }}</p>
        <p>{{::emp.name }}</p>
        <p>{{::emp.salary }}</p>
      </div>

    </section>

    <script>
      angular.module("swabhav", [])
      .controller("bindingController", ["$scope", function($scope) {
          console.log("Inside Binding Controller");
          $scope.emp = {
            id: "101",
            name: "Kuntan",
            salary: 20000
          };
        }
      ]);
    </script>
  </body>
</html>
