<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>

<div ng-app="swabhav" ng-controller="numberapiController"> 
<form novalidate>
    <input ng-model="number">
    <input type="submit" ng-click="submitForm(number)" value="Show Facts">
</form>
<p>{{number}}</p>
<pre>{{ data }}</pre>

<script>
angular.module('swabhav', [])
.controller('numberapiController', function($scope, $http) {
    $scope.number ;
    $scope.submitForm = function(number){
    $http({
        method : "GET",
        url : "http://numbersapi.com/"+number
    }).then(function mySuccess(response) {
        $scope.data = response.data;
        }, function myError(response) {
        $scope.data = response.statusText;
    });
}});
</script>

</body>
</html>