<!DOCTYPE html>
<html ng-app="swabhavtechlab">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Api Asynchronous</title>
    <script src="angular.js"></script>
</head>

<body>
    <div ng-controller="firstcontroller">

        Enter Number : 
        <input ng-model="number">
        <input type="submit" ng-click="submitForm(number)" value="Search">
        <pre>{{ data }}</pre>
    </div>
    <script>
        angular.module("swabhavtechlab", [])
            .factory('mathservice', function ($log, $q,$http) {
                var service = {};
                service.getNumberApi = function (number) {
                    return $q(function (resolve, reject) {
                        $http({
                            method: "GET",
                            url: "http://numbersapi.com/" + number
                        }).then(function mySuccess(response) {

                            resolve(response.data);
                            
                        }, function myError(response) {
                            reject(response.data);
                        });
                    })
                }
                return service;
            })

            .controller("firstcontroller", function ($scope, mathservice) {
               
                $scope.submitForm = function (number) {
                    
                    mathservice.getNumberApi(number)
                    .then((r) => {
                        $scope.data = r;
                    })
                    .catch((e) => {
                        $scope.data = r;
                    })
                }
            });
    </script>
</body>
</html>