<!DOCTYPE html>
<html lang="en" ng-app="swabhav">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Async</title>
    <script src="jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <script src="angular.js"></script>
    <script src="moment.js"></script>

</head>

<body ng-controller="taskServiceController">
    <div style="padding: 10px">
        <form ng-submit="addTask()">
            <br>
            <h3> Task : 
                <input type="text" ng-model="taskInput" placeholder="Add tasks here">
                <input type="submit" class="btn btn-success" value="Add">
            </h3>
        </form>
    </div>

    <div ng-repeat="task in todoList">
        <span class="list-group-item" ng-bind="task.description"></span>
        <!-- <span class="list-group-item"> Added on {{task.date | date:"M/d/yy h:mm a"}}</span> -->
        <span class="list-group-item"> Added on {{task.date | date:'short'}}</span>
    </div>

    <script>
        angular.module('swabhav', [])
            .factory('taskservice', ['$log', '$q', function ($log, $q) {
                var service = {};
                service.add = function (obj) {
                    return $q(function (resolve, reject) {
                        if(obj!=null){
                            save(obj);
                            resolve("Task Added Successfully")
                        } else {
                            reject("Task Rejected")
                        }
                    })
                }
                service.getList = function () {
                    return $q(function(resolve, reject) {
                        var list=retrive();
                        resolve(list);
                    })
                }
                var save = function (obj) {
                    var list = retrive();
                    list.unshift(obj);
                    localStorage.setItem("taskList", JSON.stringify(list));
                }
                var retrive = function () {
                    if (localStorage.getItem("taskList") == null) {
                        var list = [];
                        return list;
                    } else {
                        var obj = JSON.parse(localStorage.getItem("taskList"));
                        return obj;
                    }
                }
                console.log(service);
                return service;
            }])
            .controller("taskServiceController", function ($scope, taskservice) {
                taskservice.getList().then((r) => {
                            $scope.todoList = r;
                        })
                        .catch((r) => {
                            $scope.todoList = r;
                        });
                $scope.addTask = function () {
                    var task = {
                        description: $scope.taskInput,
                        date: moment(new Date()).format('LLLL'),
                        status: false
                    }
                    taskservice.add(task)
                        .then((r) => {
                            $scope.result = r;
                        })
                        .catch((r) => {
                            $scope.result = r;
                        })
                    taskservice.getList().then((r) => {
                            $scope.todoList = r;
                        })
                        .catch((r) => {
                            $scope.todoList = r;
                        });
                }
            })
    </script>
</body>

</html>