<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a href="#/form"> <b>Form</b> </a> </li>
        <li> <a href="#/display"> <b>Display</b> </a> </li>
        <li ng-if="!loggedIn"> <a href="#/login"> <b>Log In</b> </a> </li>
        <li ng-if="loggedIn"> <a href="#/logout"> <b>Logout</b> </a>  </li>
        <li ng-if="loggedIn"> <a> <b>Hello, {{ person }}</b> </a> </li>
      </ul>
    </div>
  </div>
</nav>
